<h1>All Shelters</h1>

<% @shelters.each do |shelter| %>
  <h3><%= link_to "#{shelter.name}", "/shelters/#{shelter.id}" %></h3>
  <%= link_to 'Edit Shelter', "/shelters/#{shelter.id}/edit" %>
  <br><br>
  <%= button_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %>
<% end %>
<br><br><br>
<%= link_to 'Create New Shelter', "/shelters/new" %>
