<center>
  <h1>Your Favorite Pets</h1>

  <% @pets.each do |pet| %>
  <section id = "favoritepet-<%=pet.id %>">
    <h3><%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </h3><
    <br><br><br>
    <img src ="<%= pet.image %>" alt="Dog Picture" height="400", width="500">
    <br><
    <%= button_to "Remove Pet From Favorites", "/favorites/#{pet.id}", method: :delete %>
  </section>
  <% end %>
</center>
